.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-actions button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #1e1e1e;
  letter-spacing: 0%;
}